/* Colors */
$lighter-green: rgba(245, 255, 235, 1);
$light-green: rgba(0, 241, 96, 1);
$green: rgba(64, 165, 55, 1);
$dark-green: rgba(0, 110, 0, 1);

$light-red: rgba(255, 218, 212, 1);
$red: rgba(236, 103, 88, 1);
$dark-red: rgba(186, 27, 27, 1);

$light-orange: rgba(255, 182, 132, 1);
$orange: rgba(187, 93, 5, 1);
$dark-orange: rgba(126, 62, 2, 1);

$light-blue: rgba(0, 160, 233, .50);
$blue: rgba(0, 160, 233, 1);
$dark-blue: rgba(40, 94, 167, 1);

$light-purple: rgba(168, 44, 208, .50);
$purple: rgba(168, 44, 208, 1);
$dark-purple: rgba(80, 15, 100, 1);

$light-yellow: rgba(255, 224, 138, .5);
$yellow: rgba(255, 224, 138, 1);
$dark-yellow: rgba(108, 95, 66, 1);

$white: rgba(255, 255, 255, 1);
$light-gray: rgba(144, 145, 140, .5);
$gray: rgba(0, 0, 0, .5);
$dark-gray: rgba(0, 0, 0, .75);
$black: rgba(0, 0, 0, 1);

$primary: #080302;